<!DOCTYPE HTML>
<html>
	<head>
		<% include head.html %>
	</head>
	<body>
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-3 column">
					<h3><%= group.name %></h3>
					<p>
						<button type="button" data-toggle="modal" data-target="#modiGroup">修改</button>
					</p>
					<p><%= group.description %></p>
					<p><img src="<%= group.photo %>" style="width:100%"/></p>
					<div id="allcatas">
					<% catas.forEach(function(cata){ %>
						<div id="catablock<%= cata.id %>">
							<div class="catashow">
								<p><span class="catanameshow"><%= cata.name %></span>
									<input type="button" value="修改" class="modi_cata_button" />
									<input type="button" value="删除" class="del_cata_button" />
								</p>
							</div>
							<div class="catamodi" style="display:none">
								<input type="text" value="" class="modi_cata_textbox" />
								<input type="button" value="确定" class="modi_cata_submit" />
								<input type="button" value="取消" class="modi_cata_cancle" />
							</div>
						</div>
					<% }) %>
					</div>
					<div>
						<input type="button" id="createnewcatabutton" value="创建新类别" />
						<input type="text" id="createnewcatatextbox" value="" style="display:none;"/>
						<input type="button" id="createnewcatasubmit" value="创建" style="display:none;"/>
					</div>
				</div>
				<div class="col-md-9 column">
					<div id="midtop">
						<div id="postnrpanel" style="display:none">
							<div class="tabbable" id="tabs-23980">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#panel-132636" data-toggle="tab">发文字</a>
									</li>
									<li>
										<a href="#panel-543624" data-toggle="tab">发链接</a>
									</li>
									<li>
										<a href="#panel-543265" data-toggle="tab">发图片</a>
									</li>
									<li>
										<a href="#panel-543159" data-toggle="tab">发视频</a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="panel-132636">
										<p>
											<textarea id="posttextarea"></textarea>
										</p>
										<div id="posttextchoose">
											<select class="form-control" id="choosetextcata">
											<% catas.forEach(function(cata) { %>
												<option value="<%= cata.id %>"><%= cata.name %></option>
											<% }) %>
											</select>
										</div>
										<div>
											<input type="button" class="btn" id="posttextok" value="发表" />
										</div>
									</div>
									<div class="tab-pane" id="panel-543624">
										<p>
											Howdy, I'm in Section 2.
										</p>
									</div>
									<div class="tab-pane" id="panel-543265">
										<p>
											Howdy, I'm in Section 2.
										</p>
									</div>
									<div class="tab-pane" id="panel-543159">
										<p>
											Howdy, I'm in Section 2.
										</p>
									</div>
								</div>
							</div>
						</div>
						<% if (member==1) { %>
						<div id="applyjoinpanel">已经申请加入该社群，待批准</div>
						<% } %>
						<% if (member==0) { %>
						<div id="applyjoinpanel"><input type="button" value="申请加入该社群" id="applyjoinbutton" class="btn"/></div>
						<% } %>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="modiGroup">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">修改社群信息</h4>
					</div>
					<div class="modal-body">
						<form action="/group/modigroupsave/<%= group.id %>" method="POST" target="_self" id="modigroupsave">
							<p>社群的名字：</p>
							<p><input type="text" name="group_name" value="<%= group.name %>" id="group_name"/></p>
							<p>社群简介：</p>
							<p><textarea name="group_desc"><%= group.description %></textarea></p>
							<p>社群图片URL：(<a href="http://www.itsounds.cool/picbed/upload" target="_blank">图床</a>)</p>
							<p>
								<input type="text" name="modi_pic_url" value="<%= group.photo %>" id="modi_pic_url"/></p>
							</p>
							<% if (group.public) { %>
							<p><input type="checkbox" name="freejoin" value="1" id="freejoin" checked="checked"> 允许自由加入</p>
							<% } else { %>
							<p><input type="checkbox" name="freejoin" value="1" id="freejoin"> 允许自由加入</p>
							<% } %>
							
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary" id="modigroupok">保存</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div>
	</body>
</html>
<script>
	var groupid='<%= group.id %>';
	var member=<%= member %>
	if (member>1)
	{
		document.getElementById("postnrpanel").style.display="block";
	}
	$("#modigroupok").click(function(){
		var groupname=$("#group_name").val()
		groupname=groupname.replace(/(^\s*)|(\s*$)/g,"");
		if(groupname.length==0)
		{
			alert("请输入社群的名字");
		} else
		{
			if(groupname.length>30){
				alert("社群的名字不能太长");
			} else
			{
				$("#modigroupsave").submit();
			}
		}
	})
	
	
	$("#createnewcatabutton").on('click',function(){
		document.getElementById("createnewcatabutton").style.display="none";
		document.getElementById("createnewcatatextbox").style.display="block";
		document.getElementById("createnewcatasubmit").style.display="block";
	})
	$("#createnewcatasubmit").on("click",function(){
		var s=$("#createnewcatatextbox").val();
		s=s.replace(/(^\s*)|(\s*$)/g,"");
		if (s.length>0 && s.length<20)
		{
			$.post("/group/newcata/"+groupid,{name:s},function(data,status){
				if (status=="success")
				{
					if (data.length>2 && data.substr(0,2)=="ok")
					{
						document.getElementById("createnewcatabutton").style.display="block";
						document.getElementById("createnewcatatextbox").style.display="none";
						document.getElementById("createnewcatasubmit").style.display="none";
						$("#allcatas").append('<div id="catablock'+data.substr(2)+'"><div class="catashow"><p><span class="catanameshow">'+s+'</span><input type="button" value="修改" class="modi_cata_button" /><input type="button" value="删除" class="del_cata_button" /></p></div><div class="catamodi" style="display:none"><input type="text" value="" class="modi_cata_textbox" /><input type="button" value="确定" class="modi_cata_submit" /><input type="button" value="取消" class="modi_cata_cancle" /></div></div>')
					}
				}
			})
		}
	})
	
	$("#allcatas").delegate(".del_cata_button","click",function(){
		var item=$(this).parent().parent().parent()
		var s=item.attr("id").substr(9)
		$.get("/group/delcata/"+groupid+"/"+s,function(data,status){
			if (status=="success")
			{
				if (data=="ok")
				{
					item.remove();
				}
			}
		})
	})
	
	$("#allcatas").delegate(".modi_cata_button","click",function(){
		$(this).parent().parent()[0].style.display="none";
		$(this).parent().parent().parent().children(".catamodi")[0].style.display="block";
	})
	
	
	$("#allcatas").delegate(".modi_cata_cancle","click",function(){
		$(this).parent()[0].style.display="none";
		$(this).parent().parent().children(".catashow")[0].style.display="block";
	})
	
	$("#allcatas").delegate(".modi_cata_submit","click",function(){
		var tmp=$(this)
		var name=$($(this).parent().children(".modi_cata_textbox")[0]).val();
		name=name.replace(/(^\s*)|(\s*$)/g,"")
		var cataid=$($(this).parent().parent()[0]).attr("id").substr(9);
		if (name.length>0 && name.length<20) {
			$.post("/group/modicata/"+groupid+"/"+cataid,{name:name},function(data,status){
				if (status=="success")
				{
					if (data=="ok")
					{
						$($(tmp.parent().parent()[0]).find(".catanameshow")[0]).html(name);
						tmp.parent()[0].style.display="none";
						tmp.parent().parent().children(".catashow")[0].style.display="block";
					}
				}
			})
		}
	})
	
	$("#applyjoinbutton").on('click',function(){
		$.get("/group/applyjoin/"+groupid,function(data,status){
			if (status!="success")
			{
				alert("通信故障，请重试")
			} else
			{
				if (data.indexOf("internal")>-1)
				{
					alert("内部错误")
				}
				if (data.indexOf("joined")>-1)
				{
					document.getElementById("postnrpanel").style.display="block";
					$("#applyjoinpanel").css("display","none");
				}
				if (data.indexOf("applied")>-1)
				{
					$("#applyjoinpanel").html("已经申请加入该社群，待批准");
				}
			}
		})
	})
	
	$("#posttextok").on('click',function(){
		var cataid=$("#choosetextcata").val();
		if ($("#posttextarea").val().length<1)
		{
			alert('文字内容不能为空')
			return 
		}
		if ($("#posttextarea").val().length>20000)
		{
			alert('文字内容太长')
			return 
		}
		$.post("/group/posttext/"+groupid+"/"+cataid,{nr:$("#posttextarea").val()},function(data,status){
			if (status=="success")
			{
				if (typeof(data)=="string" && data.indexOf("internal")>-1)
				{
					alert("内部错误，请重试")
					return 
				}
				if (data=="empty")
				{
					alert("文字内容不能为空")
					return 
				}
				if (data=="nr too long")
				{
					alert("文字内容太长")
					return 
				}
				if (data=="not logined")
				{
					alert("未登录，不能发表")
					return 
				}
				if (data=="not member")
				{
					alert("权限不足，不能发表")
					return 
				}
				alert("发表成功")
			} else
			{
				alert("网络通信故障，请重试")
			}
		})
	})
</script>
