<!DOCTYPE HTML>
<html>
	<head>
		<% include head.html %>
	</head>
	<body>
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-3 column">
					<h3><%= group.name %></h3>
					<p>
						<button type="button" data-toggle="modal" data-target="#modiGroup">修改</button>
						<button type="button" id="member_manage_button">成员管理</button>
					</p>
					<p><%= group.description %></p>
					<p><img src="<%= group.photo %>" style="width:100%"/></p>
					<div id="allcatas">
					<% catas.forEach(function(cata){ %>
						<div id="catablock<%= cata.id %>">
							<div class="catashow">
								<p><span class="catanameshow"><%= cata.name %></span>
									<input type="button" value="修改" class="modi_cata_button" />
									<input type="button" value="删除" class="del_cata_button" />
								</p>
							</div>
							<div class="catamodi" style="display:none">
								<input type="text" value="" class="modi_cata_textbox" />
								<input type="button" value="确定" class="modi_cata_submit" />
								<input type="button" value="取消" class="modi_cata_cancle" />
							</div>
						</div>
					<% }) %>
					</div>
					<div>
						<input type="button" id="createnewcatabutton" value="创建新类别" />
						<input type="text" id="createnewcatatextbox" value="" style="display:none;"/>
						<input type="button" id="createnewcatasubmit" value="创建" style="display:none;"/>
					</div>
				</div>
				<div class="col-md-9 column">
					<div id="midtop">
						<div id="postnrpanel" style="display:none">
							<div class="tabbable" id="tabs-23980">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#panel-132636" data-toggle="tab">发文字</a>
									</li>
									<li>
										<a href="#panel-543624" data-toggle="tab">发链接</a>
									</li>
									<li>
										<a href="#panel-543265" data-toggle="tab">发图片</a>
									</li>
									<li>
										<a href="#panel-543159" data-toggle="tab">发视频</a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="panel-132636">
										<p>
											<textarea id="posttextarea"></textarea>
										</p>
										<div id="posttextchoose">
											<select class="form-control" id="choosetextcata">
											<% catas.forEach(function(cata) { %>
												<option value="<%= cata.id %>"><%= cata.name %></option>
											<% }) %>
											</select>
										</div>
										<div>
											<input type="button" class="btn" id="posttextok" value="发表" />
										</div>
									</div>
									<div class="tab-pane" id="panel-543624">
										<p>
											URL:<input type="text" id="postlinkurl" >
										</p>
										<p>
											标题:<input type="text" id="postlinktitle">
										</p>
										<p>
											介绍说明：<textarea id="postlinkarea"></textarea>
										</p>
										<div id="postlinkchoose">
											<select class="form-control" id="chooselinkcata">
											<% catas.forEach(function(cata) { %>
												<option value="<%= cata.id %>"><%= cata.name %></option>
											<% }) %>
											</select>
										</div>
										<div>
											<input type="button" class="btn" id="postlinkok" value="发表" />
										</div>
									</div>
									<div class="tab-pane" id="panel-543265">
										<p>
											<input type="file" id="pic_inputx" multiple /> 
										</p>
										<div id="picshow">
											<div style="clear:both"> </div>
										</div>
										<p>
											同时发点文字：<textarea id="pic_text"></textarea>
										</p>
										<div id="postpicchoose">
											<select class="form-control" id="choosepiccata">
											<% catas.forEach(function(cata) { %>
												<option value="<%= cata.id %>"><%= cata.name %></option>
											<% }) %>
											</select>
										</div>
										<div><input type="button" id="pic_ok" value="上传图片" disabled=true /><input type="button" id="pic_clear" value="清空图片" disabled=true /></div>
										<div><input type="button" id="pic_ok_ok" value="提交" class="btn" /></div>
									</div>
									<div class="tab-pane" id="panel-543159">
										<p>
											视频flash地址:<input type="text" id="postvideourl" >
										</p>
										<p>
											介绍说明：<textarea id="postvideoarea"></textarea>
										</p>
										<div id="postvideochoose">
											<select class="form-control" id="choosevideocata">
											<% catas.forEach(function(cata) { %>
												<option value="<%= cata.id %>"><%= cata.name %></option>
											<% }) %>
											</select>
										</div>
										<div>
											<input type="button" class="btn" id="postvideook" value="发表" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<% if (member==1) { %>
						<div id="applyjoinpanel">已经申请加入该社群，待批准</div>
						<% } %>
						<% if (member==0) { %>
						<div id="applyjoinpanel"><input type="button" value="申请加入该社群" id="applyjoinbutton" class="btn"/></div>
						<% } %>
						<div id="memberpanel" style="display:none"> 
							<div>
								<button id="memberpanel_owner">所有者</button>
								<button id="memberpanel_admin">管理员</button>
								<button id="memberpanel_member">成员</button>
								<button id="memberpanel_apply">申请</button>
								<button id="memberpanel_black">黑名单</button>
							</div>
							<div>
								查找用户：<input type="text" id="memberpanel_name" />
								<button id="memberpanel_name_ok">确定</button>
							</div>
							<div id="membernr">
							
							</div>
						</div>
					</div>
					<div id="midmain">
						<div class="col-md-12 column">
							<div class="row clearfix">
								<div class="col-md-6 column" id="nrleft">
								</div>
								<div class="col-md-6 column" id="nrright">
								</div>
							</div>
						</div>
					</div>
					<div id="midlow" style="display:none">
						<input type="button" value="加载更多..." id="getmore" />
						<a href="" target="" id="moreinotherpage"/>从另一页中打开更新内容</a>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="modiGroup">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">修改社群信息</h4>
					</div>
					<div class="modal-body">
						<form action="/group/modigroupsave/<%= group.id %>" method="POST" target="_self" id="modigroupsave">
							<p>社群的名字：</p>
							<p><input type="text" name="group_name" value="<%= group.name %>" id="group_name"/></p>
							<p>社群简介：</p>
							<p><textarea name="group_desc"><%= group.description %></textarea></p>
							<p>社群图片URL：(<a href="http://www.itsounds.cool/picbed/upload" target="_blank">图床</a>)</p>
							<p>
								<input type="text" name="modi_pic_url" value="<%= group.photo %>" id="modi_pic_url"/></p>
							</p>
							<% if (group.public) { %>
							<p><input type="checkbox" name="freejoin" value="1" id="freejoin" checked="checked"> 允许自由加入</p>
							<% } else { %>
							<p><input type="checkbox" name="freejoin" value="1" id="freejoin"> 允许自由加入</p>
							<% } %>
							
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary" id="modigroupok">保存</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div>
	</body>
</html>
<script>
	var groupid='<%= group.id %>';
	var member=<%= member %>
	var nrstamp=<%= laststamp %>
	var pagetype=<%= pagetype %>
	var pagecataid=<%= pagecataid %>
	var nrpics=[]
	
	if (member>1)
	{
		document.getElementById("postnrpanel").style.display="block";
	}
	if (member>2)
	{
		//$(".adminlevel").css("display","block");
	}
	
	$("#member_manage_button").click(function(){
		$("#memberpanel").css("display","block")
		$("#postnrpanel").css("display","none")
	})
	
	$("#modigroupok").click(function(){
		var groupname=$("#group_name").val()
		groupname=groupname.replace(/(^\s*)|(\s*$)/g,"");
		if(groupname.length==0)
		{
			alert("请输入社群的名字");
		} else
		{
			if(groupname.length>30){
				alert("社群的名字不能太长");
			} else
			{
				$("#modigroupsave").submit();
			}
		}
	})
	
	
	$("#createnewcatabutton").on('click',function(){
		document.getElementById("createnewcatabutton").style.display="none";
		document.getElementById("createnewcatatextbox").style.display="block";
		document.getElementById("createnewcatasubmit").style.display="block";
	})
	$("#createnewcatasubmit").on("click",function(){
		var s=$("#createnewcatatextbox").val();
		s=s.replace(/(^\s*)|(\s*$)/g,"");
		if (s.length>0 && s.length<20)
		{
			$.post("/group/newcata/"+groupid,{name:s},function(data,status){
				if (status=="success")
				{
					if (data.length>2 && data.substr(0,2)=="ok")
					{
						document.getElementById("createnewcatabutton").style.display="block";
						document.getElementById("createnewcatatextbox").style.display="none";
						document.getElementById("createnewcatasubmit").style.display="none";
						$("#allcatas").append('<div id="catablock'+data.substr(2)+'"><div class="catashow"><p><span class="catanameshow">'+s+'</span><input type="button" value="修改" class="modi_cata_button" /><input type="button" value="删除" class="del_cata_button" /></p></div><div class="catamodi" style="display:none"><input type="text" value="" class="modi_cata_textbox" /><input type="button" value="确定" class="modi_cata_submit" /><input type="button" value="取消" class="modi_cata_cancle" /></div></div>')
					}
				}
			})
		}
	})
	
	$("#allcatas").delegate(".del_cata_button","click",function(){
		var item=$(this).parent().parent().parent()
		var s=item.attr("id").substr(9)
		$.get("/group/delcata/"+groupid+"/"+s,function(data,status){
			if (status=="success")
			{
				if (data=="ok")
				{
					item.remove();
				}
			}
		})
	})
	
	$("#allcatas").delegate(".modi_cata_button","click",function(){
		$(this).parent().parent()[0].style.display="none";
		$(this).parent().parent().parent().children(".catamodi")[0].style.display="block";
	})
	
	
	$("#allcatas").delegate(".modi_cata_cancle","click",function(){
		$(this).parent()[0].style.display="none";
		$(this).parent().parent().children(".catashow")[0].style.display="block";
	})
	
	$("#allcatas").delegate(".modi_cata_submit","click",function(){
		var tmp=$(this)
		var name=$($(this).parent().children(".modi_cata_textbox")[0]).val();
		name=name.replace(/(^\s*)|(\s*$)/g,"")
		var cataid=$($(this).parent().parent()[0]).attr("id").substr(9);
		if (name.length>0 && name.length<20) {
			$.post("/group/modicata/"+groupid+"/"+cataid,{name:name},function(data,status){
				if (status=="success")
				{
					if (data=="ok")
					{
						$($(tmp.parent().parent()[0]).find(".catanameshow")[0]).html(name);
						tmp.parent()[0].style.display="none";
						tmp.parent().parent().children(".catashow")[0].style.display="block";
					}
				}
			})
		}
	})
	
	$("#applyjoinbutton").on('click',function(){
		$.get("/group/applyjoin/"+groupid,function(data,status){
			if (status!="success")
			{
				alert("通信故障，请重试")
			} else
			{
				if (data.indexOf("internal")>-1)
				{
					alert("内部错误")
				}
				if (data.indexOf("joined")>-1)
				{
					document.getElementById("postnrpanel").style.display="block";
					$("#applyjoinpanel").css("display","none");
				}
				if (data.indexOf("applied")>-1)
				{
					$("#applyjoinpanel").html("已经申请加入该社群，待批准");
				}
				if (data.indexOf("black")>-1)
				{
					alert("被该群加入黑名单，无法申请")
				}
			}
		})
	})
	
	$("#posttextok").on('click',function(){
		var cataid=$("#choosetextcata").val();
		if ($("#posttextarea").val().length<1)
		{
			alert('文字内容不能为空')
			return 
		}
		if ($("#posttextarea").val().length>20000)
		{
			alert('文字内容太长')
			return 
		}
		$.post("/group/posttext/"+groupid+"/"+cataid,{nr:$("#posttextarea").val()},function(data,status){
			if (status=="success")
			{
				if (typeof(data)=="string" && data.substr(0,8)=="internal")
				{
					alert("内部错误，请重试")
					return 
				}
				if (data=="empty")
				{
					alert("文字内容不能为空")
					return 
				}
				if (data=="nr too long")
				{
					alert("文字内容太长")
					return 
				}
				if (data=="not logined")
				{
					alert("未登录，不能发表")
					return 
				}
				if (data=="not member")
				{
					alert("权限不足，不能发表")
					return 
				}
				if (data=="param error")
				{
					alert("参数错误")
					return 
				}
				alert("发表成功")
				var htmlstr=generatehtmlstr(data)
				if ($("#nrright").height()<$("#nrleft").height())
				{
					$("#nrright").prepend(htmlstr)
				} else
				{
					$("#nrleft").prepend(htmlstr)
				}
			} else
			{
				alert("网络通信故障，请重试")
			}
		})
	})
	
	
	$("#postlinkok").on('click',function(){
		var cataid=$("#chooselinkcata").val();
		var url=$("#postlinkurl").val().replace(/(^\s*)|(\s*$)/g,"")
		var title=$("#postlinktitle").val().replace(/(^\s*)|(\s*$)/g,"")
		var nr=$("#postlinkarea").val().replace(/(^\s*)|(\s*$)/g,"")
		if (url.length<1)
		{
			alert('URL不能为空')
			return 
		}
		if (url.length>2000)
		{
			alert('URL太长')
			return 
		}
		if (title.length<1)
		{
			alert('标题不能为空')
			return 
		}
		if (title.length>1000)
		{
			alert('标题太长')
			return 
		}
		if (nr.length>20000)
		{
			alert('介绍太长')
			return 
		}
		
		$.post("/group/postlink/"+groupid+"/"+cataid,{nr:nr,title:title,url:url},function(data,status){
			if (status=="success")
			{
				if (typeof(data)=="string" && data.substr(0,8)=="internal")
				{
					alert("内部错误，请重试")
					return 
				}
				if (data=="nr too long")
				{
					alert("介绍内容太长")
					return 
				}
				if (data=="URL too long")
				{
					alert("URL内容太长")
					return 
				}
				if (data=="title too long")
				{
					alert("标题内容太长")
					return 
				}
				if (data=="not logined")
				{
					alert("未登录，不能发表")
					return 
				}
				if (data=="not full")
				{
					alert("参数不完整")
					return 
				}
				if (data=="not member")
				{
					alert("权限不足，不能发表")
					return 
				}
				if (data=="param error")
				{
					alert("参数错误")
					return 
				}
				alert("发表成功")
				var htmlstr=generatehtmlstr(data)
				if ($("#nrright").height()<$("#nrleft").height())
				{
					$("#nrright").prepend(htmlstr)
				} else
				{
					$("#nrleft").prepend(htmlstr)
				}
			} else
			{
				alert("网络通信故障，请重试")
			}
		})
	})
	
	
	
	var pics=[];
	var nowinsert=0;
	var uploadedpics=[];
	var inp=document.getElementById("pic_inputx")
	inp.onchange=function(){
		for(var i=0;i<this.files.length;i++)
		{
			getnewpic(this.files[i])
		}
	}
	
	function getnewpic(file){
	var reader=new FileReader();
	reader.readAsDataURL(file);
	reader.onload=function(e){
		var filetype=gettype(this.result).toLowerCase()
		if (filetype=="image/gif" || filetype=="image/jpeg" || filetype=="image/jpg" || filetype=="image/png" || filetype=="image/bmp")
		{
			var id=nowinsert;
			nowinsert+=1;
			if (nowinsert<100) {
			$("#pic_clear").attr("disabled",false)
			$("#pic_ok").attr("disabled",false)
			var pictmp={};
			pictmp.id=id
			pictmp.file=file
			pictmp.result=this.result
			pictmp.upload=false
			pics[id]=pictmp;
			outputpic(pictmp)}
			else
			{
				alert("一次最多只能发100张图")
			}
		}
	}
}

	function gettype(str)
	{
		var inx0=str.indexOf(":")
		var inx1=str.indexOf(";")
		return str.substring(inx0+1,inx1)
	}

	function outputpic(pictmp){
		$("#picshow").prepend("<div class=\"picitem\" style=\"float:left\" id=\"picitem"+pictmp.id+"\"><p><img id=\"ss"+pictmp.id+"\" src=\""+pictmp.result+"\" width=\"100\" height=\"100\" /></p><div id=\"status"+pictmp.id+"\">待上传</div></div>");
	}
	
	$("#pic_clear").on('click',function(){
		$("#picshow").html("<div style=\"clear:both\"> </div>");
		pics=[]
		nowinsert=0;
		$("#pic_clear").attr("disabled",true)
		$("#pic_ok").attr("disabled",true)
	})
	
	function startupload(){
		var picitems=$(".picitem")
		var flag=-1;
		for(var i=0;i<picitems.length;i++)
		{
			var id=$(picitems[i]).attr("id").substring(7)
			if (pics[parseInt(id)].upload==false)
			{
				flag=parseInt(id)
				pics[parseInt(id)].upload=true
				break
			}
		}
		
		if (flag>-1)
		{
			$("#status"+flag).html("正在上传")
			var b=pics[flag].result
			
			$.post("/group/uploadpic/",{b:b},function(data,status){
				if (status=="success")
				{
					if (data!="bad")
					{
						$("#status"+flag).html("完毕")
						uploadedpics.push(data)
						startupload()
						return 
					}
				}
				$("#status"+flag).html("失败")
				startupload()
			}).error(function() { 
				$("#status"+flag).html("失败") 
				startupload()
			})
		} 
	}
	
	$("#pic_ok").on('click',function(){
		startupload()
	})
	$("#pic_ok_ok").on('click',function(){
		if (uploadedpics.length<1)
		{
			alert("请先上传图片再提交")
			return
		}
		var cataid=$("#choosepiccata").val();
		var nr=$("#pic_text").val().replace(/(^\s*)|(\s*$)/g,"")
		var s=uploadedpics.join(",")
		$.post("/group/postpic/"+groupid+"/"+cataid,{nr:nr,pic:s},function(data,status){
			if (status=="success")
			{
				if (typeof(data)=="string" && data.substr(0,8)=="internal")
				{
					alert("内部错误，请重试")
					return 
				}
				if (data=="nr too long")
				{
					alert("介绍内容太长")
					return 
				}
				if (data=="no pic")
				{
					alert("请先上传图片再提交")
					return 
				}
				if (data=="not logined")
				{
					alert("未登录，不能发表")
					return 
				}
				if (data=="not member")
				{
					alert("权限不足，不能发表")
					return 
				}
				if (data=="param error")
				{
					alert("参数错误")
					return 
				}
				alert("发表成功")
				var htmlstr=generatehtmlstr(data)
				if ($("#nrright").height()<$("#nrleft").height())
				{
					$("#nrright").prepend(htmlstr)
				} else
				{
					$("#nrleft").prepend(htmlstr)
				}
			} else
			{
				alert("网络通信故障，请重试")
			}
		})
	})
	
	
	$("#postvideook").on('click',function(){
		var cataid=$("#chooselinkcata").val();
		var url=$("#postvideourl").val().replace(/(^\s*)|(\s*$)/g,"")
		var nr=$("#postvideoarea").val().replace(/(^\s*)|(\s*$)/g,"")
		if (url.length<1)
		{
			alert('URL不能为空')
			return 
		}
		if (url.length>2000)
		{
			alert('URL太长')
			return 
		}
		if (nr.length>20000)
		{
			alert('介绍太长')
			return 
		}
		
		$.post("/group/postvideo/"+groupid+"/"+cataid,{nr:nr,video:url},function(data,status){
			if (status=="success")
			{
				if (typeof(data)=="string" && data.substr(0,8)=="internal")
				{
					alert("内部错误，请重试")
					return 
				}
				if (data=="nr too long")
				{
					alert("介绍内容太长")
					return 
				}
				if (data=="URL too long")
				{
					alert("URL内容太长")
					return 
				}
				if (data=="not logined")
				{
					alert("未登录，不能发表")
					return 
				}
				if (data=="not full")
				{
					alert("参数不完整")
					return 
				}
				if (data=="not member")
				{
					alert("权限不足，不能发表")
					return 
				}
				if (data=="param error")
				{
					alert("参数错误")
					return 
				}
				alert("发表成功")
				var htmlstr=generatehtmlstr(data)
				if ($("#nrright").height()<$("#nrleft").height())
				{
					$("#nrright").prepend(htmlstr)
				} else
				{
					$("#nrleft").prepend(htmlstr)
				}
			} else
			{
				alert("网络通信故障，请重试")
			}
		})
	})
	
	
	$("#memberpanel_owner").click(function(){
		$.get("/group/getmember/"+groupid+"/4",function(data,status){
			if (status=="success")
			{
				if (typeof(data)=="string" && data.substr(0,8)=="internal")
				{
					alert("内部错误，请重试")
					return 
				}
				if (data=="not logined")
				{
					alert("未登录，不能查看")
					return 
				}
				if (data=="param error")
				{
					alert("参数错误")
					return
				}
				if (data=="not permision")
				{
					alert("权限不足")
					return 
				}
				var str='<div id="userpanelitem'+data[0].userid+'"><a href="/user/'+data[0].userid+'" target="_blank">'+data[0].username+'</a><a href="/user/'+data[0].userid+'" target="_blank"><img src="'+data[0].userphoto+'" width="100" height="100" /></a></div>'
				$("#membernr").html(str)
			} else
			{
				alert("网络通信故障，请重试")
			}
		})
	})
	
	$("#memberpanel_admin").click(function(){
		$.get("/group/getmember/"+groupid+"/3",function(data,status){
			if (status=="success")
			{
				if (typeof(data)=="string" && data.substr(0,8)=="internal")
				{
					alert("内部错误，请重试")
					return 
				}
				if (data=="not logined")
				{
					alert("未登录，不能查看")
					return 
				}
				if (data=="param error")
				{
					alert("参数错误")
					return
				}
				if (data=="not permision")
				{
					alert("权限不足")
					return 
				}
				var str="";
				for (var i=0;i<data.length;i++)
				{
					str+='<div style="float:left" id="userpanelitem'+data[i].userid+'"><a href="/user/'+data[0].userid+'" target="_blank">'+data[0].username+'</a><a href="/user/'+data[0].userid+'" target="_blank"><img src="'+data[0].userphoto+'" width="100" height="100" /></a><div><input type="button" value="取消管理员" onclick="modimember(\''+data[i].userid+'\',2)"/><input type="button" value="踢出" onclick="kickmember(\''+data[i].userid+'\')"/><input type="button" value="加入黑名单" onclick="modimember(\''+data[i].userid+'\',0)"/></div></div>'
				}
				str+='<div style="clear:both"></div>'
				$("#membernr").html(str)
			} else
			{
				alert("网络通信故障，请重试")
			}
		})
	})
	
	$("#memberpanel_member").click(function(){
		$.get("/group/getmember/"+groupid+"/2",function(data,status){
			if (status=="success")
			{
				if (typeof(data)=="string" && data.substr(0,8)=="internal")
				{
					alert("内部错误，请重试")
					return 
				}
				if (data=="not logined")
				{
					alert("未登录，不能查看")
					return 
				}
				if (data=="param error")
				{
					alert("参数错误")
					return
				}
				if (data=="not permision")
				{
					alert("权限不足")
					return 
				}
				var str="";
				for (var i=0;i<data.length;i++)
				{
					str+='<div style="float:left" id="userpanelitem'+data[i].userid+'"><a href="/user/'+data[0].userid+'" target="_blank">'+data[0].username+'</a><a href="/user/'+data[0].userid+'" target="_blank"><img src="'+data[0].userphoto+'" width="100" height="100" /></a><div><input type="button" value="设为管理员" onclick="modimember(\''+data[i].userid+'\',3)"/><input type="button" value="踢出" onclick="kickmember(\''+data[i].userid+'\')"/><input type="button" value="加入黑名单" onclick="modimember(\''+data[i].userid+'\',0)"/></div></div>'
				}
				str+='<div style="clear:both"></div>'
				$("#membernr").html(str)
			} else
			{
				alert("网络通信故障，请重试")
			}
		})
	})
	
	$("#memberpanel_apply").click(function(){
		$.get("/group/getmember/"+groupid+"/1",function(data,status){
			if (status=="success")
			{
				if (typeof(data)=="string" && data.substr(0,8)=="internal")
				{
					alert("内部错误，请重试")
					return 
				}
				if (data=="not logined")
				{
					alert("未登录，不能查看")
					return 
				}
				if (data=="param error")
				{
					alert("参数错误")
					return
				}
				if (data=="not permision")
				{
					alert("权限不足")
					return 
				}
				var str="";
				for (var i=0;i<data.length;i++)
				{
					str+='<div style="float:left" id="userpanelitem'+data[i].userid+'"><a href="/user/'+data[0].userid+'" target="_blank">'+data[0].username+'</a><a href="/user/'+data[0].userid+'" target="_blank"><img src="'+data[0].userphoto+'" width="100" height="100" /></a><div><input type="button" value="通过" onclick="modimember(\''+data[i].userid+'\',2)"/><input type="button" value="不通过" onclick="kickmember(\''+data[i].userid+'\')"/></div></div>'
				}
				str+='<div style="clear:both"></div>'
				$("#membernr").html(str)
			} else
			{
				alert("网络通信故障，请重试")
			}
		})
	})
	
	$("#memberpanel_black").click(function(){
		$.get("/group/getmember/"+groupid+"/0",function(data,status){
			if (status=="success")
			{
				if (typeof(data)=="string" && data.substr(0,8)=="internal")
				{
					alert("内部错误，请重试")
					return 
				}
				if (data=="not logined")
				{
					alert("未登录，不能查看")
					return 
				}
				if (data=="param error")
				{
					alert("参数错误")
					return
				}
				if (data=="not permision")
				{
					alert("权限不足")
					return 
				}
				var str="";
				for (var i=0;i<data.length;i++)
				{
					str+='<div style="float:left" id="userpanelitem'+data[i].userid+'"><a href="/user/'+data[0].userid+'" target="_blank">'+data[0].username+'</a><a href="/user/'+data[0].userid+'" target="_blank"><img src="'+data[0].userphoto+'" width="100" height="100" /></a><div><input type="button" value="移出黑名单" onclick="kickmember(\''+data[i].userid+'\')"/></div></div>'
				}
				str+='<div style="clear:both"></div>'
				$("#membernr").html(str)
			} else
			{
				alert("网络通信故障，请重试")
			}
		})
	})
	
	
	function kickmember(a)
	{
		$.get("/group/kickmember/"+groupid+"/"+a,function(data,status){
			if (status=="success")
			{
				if (typeof(data)=="string" && data.substr(0,8)=="internal")
				{
					alert("内部错误，请重试")
					return 
				}
				if (data=="not logined")
				{
					alert("未登录，不能操作")
					return 
				}
				if (data=="param error")
				{
					alert("参数错误")
					return
				}
				if (data=="not permision")
				{
					alert("权限不足")
					return 
				}
				$("#userpanelitem"+a).html("已移除")
			} else
			{
				alert("网络通信故障，请重试")
			}
		})
	}
	function modimember(a,b)
	{
		$.get("/group/modimember/"+groupid+"/"+a+"/"+b,function(data,status){
			if (status=="success")
			{
				if (typeof(data)=="string" && data.substr(0,8)=="internal")
				{
					alert("内部错误，请重试")
					return 
				}
				if (data=="not logined")
				{
					alert("未登录，不能操作")
					return 
				}
				if (data=="param error")
				{
					alert("参数错误")
					return
				}
				if (data=="not permision")
				{
					alert("权限不足")
					return 
				}
				$("#userpanelitem"+a).html("已更改")
			} else
			{
				alert("网络通信故障，请重试")
			}
		})
	}
	
	
	function getnritem()
	{
		var url="/group/getgroupitems/"+groupid+"/"+nrstamp+"000";
		if (pagetype==1)
		{
			url="/group/getgroupitems/"+pagecataid+"/"+nrstamp+"000";
		}
		$.get(url,function(data,status){
			if (status=="success")
			{
				if (typeof(data)=="string" && data.substr(0,8)=="internal")
				{
					alert("内部错误，请重试")
					return 
				}
				if (data=="param error")
				{
					alert("参数错误")
					return
				}
				for (var i=0;i<data.length;i++)
				{
					data[i].time=parseInt(data[i].time/1000)
					alert(nrstamp)
					alert(data[i].time)
					if (data[i].time<nrstamp)
					{
						nrstamp=data[i].time
					}
					var htmlstr=generatehtmlstr(data[i])
					if ($("#nrright").height()<$("#nrleft").height())
					{
						$("#nrright").append(htmlstr)
					} else
					{
						$("#nrleft").append(htmlstr)
					}
				}
				$("#midlow").css("display","block")
			} else
			{
				alert("网络通信故障，请重试")
			}
		})
	}
	
	function generatehtmlstr(a)
	{
		var str='<div id="nr'+a.itemid+'">'
		
		if (a.type==1)
		{
			str+='<div style="margin-top:20px;border-style:solid;border-width:1px 1px 1px 1px;"><p>'+a.username+'</p><p>于'+getLocalTime(a.time)+'发表</p><div>'+a.nr+'</div></div>'
		}
		if (a.type==2)
		{
			str+='<div style="margin-top:20px;border-style:solid;border-width:1px 1px 1px 1px;"><p>'+a.username+'</p><p>于'+getLocalTime(a.time)+'发表</p><div><a href="'+a.url+'" target="_blank" >'+a.title+'</a></div><div>'+a.nr+'</div></div>'
		}
		if (a.type==3)
		{
			str+='<div style="margin-top:20px;border-style:solid;border-width:1px 1px 1px 1px;"><p>'+a.username+'</p><p>于'+getLocalTime(a.time)+'发表</p><div><img src="'+a.pics[0]+'" width="240" /></div><div>'+a.nr+'</div></div>'
			var inxid=a.cataid+a.createtime
			nrpics[inxid]=a.pics
		}
		if (a.type==4)
		{
			str+='<div style="margin-top:20px;border-style:solid;border-width:1px 1px 1px 1px;"><p>'+a.username+'</p><p>于'+getLocalTime(a.time)+'发表</p><div><iframe src="'+a.url+'" width="240" height="160" /></div><div>'+a.nr+'</div></div>'
		}
		str+='<div><input type="button" value="删除" id="sc'+a.itemid+'" /></div>'
		str+="<div>评论数:"+a.commentnum+"</div>"
		if (a.lastcommenttime>0)
		{
			str+="<div>"+a.lastcommentusername+":"+a.lastcomment+"</div>"
		}
		str+='</div>'
		return str;
	}
	
	getnritem();
	
	
	function getLocalTime(nS) {     
       return new Date(parseInt(nS) * 1000).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ");      
    }     
</script>



