<!DOCTYPE HTML>
<html>
	<head>
		<% include head.html %>
	</head>
	<body>
		<div>
			<div>图片标题<%= pic.title %></div>
			<div>图片介绍<%= pic.description %></div>
			<button type="button" data-toggle="modal" data-target="#editpic">修改</button>
			<div><a href="http://www.itsounds.cool/image/collection/<%= album.id %>" target="_blank">所属图集：<%= album.name %></a></div>
			<div><img src="<%= pic.url %>" alt="<%= pic.title %>" /></div>
			<div>
				<form action="/image/talksave/<%= pic.picid %>" method="POST" target="_self">
					<textarea name="talknr"></textarea>
					<input type="submit" value="提交评论" class="btn btn-sm" />
				</form>
			</div>
			<div id="pl"></div>
			<input type="button" class="btn btn-sm" value="加载更多评论" id="getmoretalk"/>
		</div>
		<div>
			<% for (var i=picqian.length;i>0;i--) { %>
			<div><a href="http://www.itsounds.cool/image/pic/<%= picqian[i-1].picid %>"><img src="<%= picqian[i-1].url %>" alt="<%= picqian[i-1].title %>" width="100" height="100"/></a></div>
			<% } %>
			<div><img src="<%= pic.url %>" alt="<%= pic.title %>" width="100" height="100"/></div>
			<% for (var i=0;i<pichou.length;i++) { %>
			<div><a href="http://www.itsounds.cool/image/pic/<%= pichou[i].picid %>"><img src="<%= pichou[i].url %>" alt="<%= pichou[i].title %>" width="100" height="100"/></a></div>
			<% } %>
		</div>
		<div class="modal fade" id="editpic">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">修改图片信息</h4>
					</div>
					<div class="modal-body">
							<p>图片标题：</p>
							<p><input type="text" value="<%= pic.title %>" id="edit_pic_title"/></p>
							<p>图片简介：</p>
							<p><textarea id="edit_pic_desc"><%= pic.description %></textarea></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary" id="editok">保存</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div>
	</body>
</html>
<script>
	var picid='<%= pic.picid %>';
	var dt=new Date();
	var mindt=(Date.parse(dt)/1000)+3600*24*365;
	mindt=mindt*1000;
	$.get("/image/gettalk/"+picid+"/"+mindt,function(res,status){
		if (status=="success")
		{
			if (res!="error")
			{
				for(var i=0;i<res.length;i++)
				{
					if (res[i].talktime<mindt)
					{
						mindt=res[i].talktime
					}
					var str="<div><img src=\""+res[i].userphoto+"\" width=30 height=30 />"+res[i].username+"说<br />"+res[i].nr+"</div>"
					$("#pl").append(str)
				}
			}
		}
	});
	$("#getmoretalk").click(function(){
		$.get("/image/gettalk/"+picid+"/"+mindt,function(res,status){
			if (status=="success")
			{
				if (res!="error")
				{
					for(var i=0;i<res.length;i++)
					{
						if (res[i].talktime<mindt)
						{
							mindt=res[i].talktime
						}
						var str="<div><img src=\""+res[i].userphoto+"\" width=30 height=30 />"+res[i].username+"说<br />"+res[i].nr+"</div>"
						$("#pl").append(str)
					}
				}
			}
		});
	})
	
	$("#editok").click(function(){
		var title=$("#edit_pic_title").val()
		var desc=$("#edit_pic_desc").val()
		$.post("/image/editpic/"+picid,{title:title,desc:desc},function(data,status){
			if (status=="success" && data=="ok")
			{
				location.reload()
				return 
			}
			alert("操作失败，请重试\n\n原因可能为：未登录、权限不足、参数错误、输入信息有误");
		})
	})
</script>