<!DOCTYPE HTML>
<html>
	<head>
		<% include head.html %>
	</head>
	<body class="metro" >
		<div class="grid">
			<div class="row">
				<div class="span6 offset1" ><h1>It Sounds Cool</h1></div>
			</div>
			<div class="row">
				<div class="span7 offset1">
					<div class="row">
						<div class="tile bg-darkPink">
							<a href="/picbed/upload" >
								<div class="tile-content icon">
									<i class="icon-upload-2"></i>
								</div>
								<div class="tile-status">
									<span class="name">图床</span>
								</div>
							</a>
						</div>
						<div class="tile bg-darkPink">
							<div class="tile-content icon">
								<i class="icon-pictures"></i>
							</div>
							<div class="tile-status">
								<span class="name">神秘功能1-1</span>
							</div>
						</div>
						<div class="tile bg-darkPink">
							<div class="tile-content icon">
								<i class="icon-copy"></i>
							</div>
							<div class="tile-status">
								<span class="name">神秘功能1-2</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="tile bg-green">
							<div class="tile-content icon">
								<i class="icon-headphones"></i>
							</div>
							<div class="tile-status">
								<span class="name">神秘功能2</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="tile bg-lightBlue">
							<div class="tile-content icon">
								<i class="icon-thumbs-up"></i>
							</div>
							<div class="tile-status">
								<span class="name">神秘功能3</span>
							</div>
						</div>
					</div>
				</div>
				<div class="offset2">
					<div style="margin-top:10px;">
						<button class="image-button warning">
							从微博登陆
							<img src="http://7u2r9x.com1.z0.glb.clouddn.com/pcdda74a8bffa7c2c2616f1187f09e5291422630550.png" class="bg-lime">
						</button>
					</div>
					<div style="margin-top:10px;">
						<button class="image-button warning">
							从QQ 登陆
							<img src="http://7u2r9x.com1.z0.glb.clouddn.com/p7f3899cc491715b8794e318282b96a661422630574.png" class="bg-lime">
						</button>
					</div>
					<div style="margin-top:10px;">
						<button class="image-button warning">
							从人人登陆
							<img src="http://7u2r9x.com1.z0.glb.clouddn.com/p8704c41d6b0ceaade84f7b6401112f241422630590.png" class="bg-lime">
						</button>
					</div>
					<div style="margin-top:10px;">
						<button class="image-button warning">
							从豆瓣登陆
							<img src="http://7u2r9x.com1.z0.glb.clouddn.com/p68b351116184ec090cb3debac659f14f1422630605.png" class="bg-lime">
						</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>