<!DOCTYPE HTML>
<html>
	<head>
		<% include head.html %>
	</head>
	<body class="metro" >
		<div class="grid">
			<div class="row">
				<div class="span6 offset1" ><h1>It Sounds Cool</h1></div>
			</div>
			<div class="row">
			</div>
			<div class="row">
				<div class="tile bg-darkPink offset1">
					<a href="/picbed/upload" >
						<div class="tile-content icon">
							<i class="icon-upload-2"></i>
						</div>
						<div class="tile-status">
							<span class="name">图床</span>
						</div>
					</a>
				</div>
				<div class="tile bg-darkPink">
					<div class="tile-content icon">
						<i class="icon-pictures"></i>
					</div>
					<div class="tile-status">
						<span class="name">神秘功能1-1</span>
					</div>
				</div>
				<div class="tile bg-darkPink">
					<div class="tile-content icon">
						<i class="icon-copy"></i>
					</div>
					<div class="tile-status">
						<span class="name">神秘功能1-2</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="tile bg-green offset1">
					<div class="tile-content icon">
						<i class="icon-headphones"></i>
					</div>
					<div class="tile-status">
						<span class="name">神秘功能2</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="tile bg-lightBlue offset1">
					<div class="tile-content icon">
						<i class="icon-thumbs-up"></i>
					</div>
					<div class="tile-status">
						<span class="name">神秘功能3</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>