<!DOCTYPE HTML>
<html>
	<head>
		<% include head.html %>
	</head>
	<body class="metro" >
		<div class="grid">
			<div class="row">
				<div class="offset1" ><h1>It Sounds Cool</h1><h2>图床</h2>
					<h3>完全免费，不限数量，不限流量，全网CDN加速</h3>
				</div>
			</div>
			<div class="row">
			</div>
			<div class="row">
				<div class="span9 offset1">
					<form action="/picbed/uploadsave" method="POST" target="_self"  enctype="multipart/form-data">
						<div class="input-control file">
							<input type="file" data-state="info" name="picbedpic" accept="image/gif,image/jpeg,image/jpg,image/bmp,image/png"/>
							<button class="btn-file"></button>
						</div>
						<input type="submit" value="上传" />
					</form>
				</div>
			</div>
			<% if (type=="error") { %>
			<div class="row">
				<div class="offset1">
					<button class="command-button warning">
						<i class="icon-warning on-left"></i>
						<%= error %>
					</button>
				</div>
			</div>
			<% } %>
			<% if (type=="key") { %>
			<div class="row">
				<div class="offset1">
					<div>
						<i class="icon-link on-left"></i>
						http://7u2r9x.com1.z0.glb.clouddn.com/<%= key %>
					</div>
					<div>
						<i class="icon-link on-left"></i>
						https://dn-itsoundscool.qbox.me/<%= key %>
					</div>
					<img src="http://7u2r9x.com1.z0.glb.clouddn.com/<%= key %>" class="rounded" style="max-width:800px">
				</div>
			</div>
			<% } %>
		</div>
	</body>
</html>